<div mat-dialog-title>USER DETAILS</div>

<form [formGroup]="form" (ngSubmit)="save()">
  <mat-dialog-content>

    <!-- dai -->
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex>
        <mat-label>Full Name</mat-label>
        <input type="text" formControlName="fullname" matInput readonly>
      </mat-form-field>
    </div>



    <!-- ngan -->
    <div class="person">
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
        <mat-form-field fxFlex>
          <mat-label>Email</mat-label>
          <input type="text" formControlName="email" matInput readonly>
        </mat-form-field>

        <mat-form-field fxFlex>
          <mat-label>Phone</mat-label>
          <input type="text" formControlName="phone" matInput readonly>
        </mat-form-field>
      </div>
    </div>

    <!-- dai -->
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex>
        <mat-label>Adress</mat-label>
        <input type="text" formControlName="address" matInput readonly>
      </mat-form-field>
    </div>

    <!-- ngan -->
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex>
        <mat-label>Gender</mat-label>
        <input type="text" formControlName="gender" matInput readonly>
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-label>DOB</mat-label>
        <input type="text" formControlName="dob" matInput readonly>
      </mat-form-field>
    </div>

    <!-- ngan -->
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex>
        <mat-label>Family</mat-label>
        <input type="text" formControlName="family" matInput readonly>
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-label>Drinking</mat-label>
        <input type="text" formControlName="drinking" matInput readonly>
      </mat-form-field>
    </div>

    <!-- ngan -->
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex>
        <mat-label>Work</mat-label>
        <input type="text" formControlName="work" matInput readonly>
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-label>Smoking</mat-label>
        <input type="text" formControlName="smoking" matInput readonly>
      </mat-form-field>
    </div>

    <!-- ngan -->
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex>
        <mat-label>Purpose</mat-label>
        <input type="text" formControlName="purpose" matInput readonly>
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-label>Literacy</mat-label>
        <input type="text" formControlName="literacy" matInput readonly>
      </mat-form-field>
    </div>

    <!-- ngan -->
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex>
        <mat-label>Habit</mat-label>
        <input type="text" formControlName="habit" matInput readonly>
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-label>Status</mat-label>
        <input type="text" formControlName="status" matInput readonly>
      </mat-form-field>
    </div>

    <mat-label>Music</mat-label>
    <mat-chip-set aria-label="Music selection">
      <mat-chip *ngFor="let music of musicList" max-width="200px">{{ music.music.name }}</mat-chip>
    </mat-chip-set>

    <mat-label>Singer</mat-label>
    <mat-chip-set aria-label="Singer selection">
      <mat-chip *ngFor="let singer of singerList" max-width="200px">{{ singer.singer.name }}</mat-chip>
    </mat-chip-set>

    <mat-label>Pet</mat-label>
    <mat-chip-set aria-label="Pet selection">
      <mat-chip *ngFor="let pet of petList" max-width="200px">{{ pet.pet.name }}</mat-chip>
    </mat-chip-set>

    <mat-label>Language</mat-label>
    <mat-chip-set aria-label="Language selection">
      <mat-chip *ngFor="let language of languageList" max-width="200px">{{ language.language.name }}</mat-chip>
    </mat-chip-set>

    <mat-label>Hobby</mat-label>
    <mat-chip-set aria-label="Hobby selection">
      <mat-chip *ngFor="let hobby of hobbyList" max-width="200px">{{ hobby.hobby.name }}</mat-chip>
    </mat-chip-set>

    <mat-label>Exercise</mat-label>
    <mat-chip-set aria-label="Exercise selection">
      <mat-chip *ngFor="let exercise of exerciseList" max-width="200px">{{ exercise.exercise.name }}</mat-chip>
    </mat-chip-set>

  </mat-dialog-content>

  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button *ngIf="isUpdateMode()" mat-flat-button color="primary" [disabled]="!form.valid">Banned 
    </button>
</mat-dialog-actions>

  

</form>